# Rules are still getting changed and will continue to adapt to feedback

Each Deck are made of 50? cards, No more, No Less

Card Dupplicate limit 5?

When a player/Summoner draw his last card from his deck, he can take his graveyard shuffle it then it become the deck. This process may be repeated each time the deck is empty. 

Should we use Special mana card for the summon cost or should we pay with life point, or use creature face down as mana? or sacrigice creature like in yu-gi-oh? or do you have any other suggestion?

